<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.daptech.mapper.PhoneUsMapper">

    <select id="selectByPhoneNumbers" parameterType="list" resultType="com.example.daptech.entity.PhoneUs">
            SELECT * FROM phone_us
            WHERE phone IN
            <foreach item="phone" collection="phoneNumbers" open="(" separator="," close=")">
                #{phone}
            </foreach>
    </select>
</mapper>