<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.daptech.mapper.UserMapper">

    <resultMap id="BaseResultMap" type="com.example.daptech.entity.User">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="phoneNumber" column="phone_number" jdbcType="VARCHAR"/>
            <result property="password" column="password" jdbcType="VARCHAR"/>
            <result property="verificationCode" column="verification_code" jdbcType="VARCHAR"/>
            <result property="codeExpiration" column="code_expiration" jdbcType="TIMESTAMP"/>
            <result property="createdAt" column="created_at" jdbcType="TIMESTAMP"/>
            <result property="updatedAt" column="updated_at" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,phone_number,password,
        verification_code,code_expiration,created_at,
        updated_at
    </sql>
</mapper>
